.home {
  width: 100%;
  padding: 10px 20px;

  &-title {
    font-weight: 700;
    color: $text-primary-color;
    font-size: 30px;
    margin-bottom: 20px;
  }

  &-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(450px, 1fr));
    gap: 20px;
  }
}
